%h1 {
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 100%;
  color: $c-title;
  text-align: center;

  @include on-tablet {
    font-size: 54px;
  }

  @include on-desktop {
    font-size: 72px;
  }
}

%h2 {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0%;

  @include on-tablet {
    font-size: 48px;
  }
}

%h3 {
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;

  @include on-tablet {
    font-size: 36px;
  }
}

%h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

%h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;

  @include on-tablet {
    font-size: 14px;
  }
}

%p-base {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

%time {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;

  @include on-tablet {
    font-size: 14px;
  }
}

%p-medium {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

%p-light {
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
}

%h-email {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

%small {
  font-size: 12px;
  font-weight: 300;
  line-height: 141%;
  text-align: center;
}
