$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$transition-time: 0.3s;
$c-gray: #eee;
$c-title: #0f0e08;
$c-main-acent: #1a5a4c;
$c-overlay: rgba(30, 30, 30, 0.6);
$c-promo-icon: #d7dde3;
$c-typo-secondary: #fff;
$c-p-base: #4e4e4e;
$c-event-name: #687480;
$c-bullet: #f14a27;
$c-bullet-none-active: #e0e0e0;
$c-footer-decoration: #1a5a4c80;
$transition-time: 0.3s;
