.articles {
  width: 100%;

  &__title {
    display: block;
    margin: 0;
    margin-top: 40px;

    @include on-tablet {
      padding-inline: 34px;
      text-align: start;
    }

    @include on-desktop {
      padding-inline: 56px;
    }

    &--after-lection {
      display: block;
      margin: 0;
      margin-top: 180px;

      @include on-tablet {
        padding-inline: 34px;
        text-align: start;
      }

      @include on-desktop {
        padding-inline: 0;
      }
    }
  }

  &__events-group {
    margin-top: 40px;
    &--inner {
      margin-top: 60px;
    }
  }

  &__subscribe {
    margin-top: 100px;
  }
}
