.contacts {
  @extend %p-medium;

  display: flex;
  flex-direction: column;
  align-items: start;

  &__subtitle {
    margin: 0;
    margin-top: 40px;
  }

  &__value {
    margin: 0;
    transform: scale(0.98);
    @include hover(transform, scale(1));
  }

  &__address {
    font-style: normal;
  }

  &__link {
    cursor: pointer;
    color: $c-title;
    text-align: start;
    text-decoration: none;
  }
}
