.promo-group {
  display: inline-flex;
  align-items: stretch;

  width: 280px;
  height: 50px;
  border: solid 1px $c-main-acent;

  text-decoration: none;

  &__name {
    @extend %h5;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 230px;

    color: $c-title;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70px;

    color: $c-promo-icon;

    background-color: $c-main-acent;
  }

  @include on-tablet {
    width: 270px;
    height: 70px;
  }
}
